.about {
  display: flex;
  background-color: #e3e3e3;
  .user-name {
    color: teal;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 300px;
    width: 500px;
    box-shadow: 4px 0 2px -3px rgba(gray, .5), -4px 0 2px -3px rgba(gray, .5), 0 4px 2px -3px rgba(gray, .5), 0 -4px 2px -3px rgba(gray, .5);
    border-radius: 5px;
    margin: 20vh auto;
    transition: all .5s ease;
    &:hover {
      transform: translateY(-2px);
    }
    .user-top {
      display: flex;
      height: 40%;
      padding: 20px 50px;
      border-bottom: 1px solid orange;
      .user-name {
        font-size: 20px;
      }
      img {
        width: 20%;
        margin-right: 50px;
      }
    }
    .user-repo {
      display: flex;
      height: 60%;
      > .item {
        margin: auto;
        flex-grow: 1;
        text-align: center;
        &:not(:last-child) {
          border-right: 1px solid #ccc;
        }
      }
      p:first-child {
        color: teal;
      }
      p:last-child {
        color: red;
      }
    }
  }
}
a {
  text-decoration: none;
  color: teal;
}
