.about {
  display: flex;
  .user-info {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 600px;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin: 20vh auto;
    transition: all .5s ease;
    &:hover {
      box-shadow: 0 0 3px rgba(0,0,0,0.3), inset 0 0 3px rgba(0,0,0,0.3);
      transform: translateY(-3px);
    }
    .user-top {
      display: flex;
      height: 40%;
      padding: 20px 50px;
      .user-name {
        font-size: 20px;
      }
      img {
        width: 20%;
        margin-right: 50px;
      }
    }
    .user-repo {
      display: flex;
      height: 60%;
      > .item {
        margin: auto;
        flex-grow: 1;
        text-align: center;
        &:not(:last-child) {
          border-right: 1px solid #ccc;
        }
      }
    }
  }
}
a {
  text-decoration: none;
  color: teal;
}
