@import "functions";
html {
	font-family: sans-serif;
	background-color: #fafafa;
}

* {
	box-sizing: border-box;
	word-break: break-all;
}

body {
	margin: 0;
	-webkit-font-smoothing:antialiased;
	color: #727272;
	background: linear-gradient(transparent 90%, #f7f7f7 0), linear-gradient(to right, transparent 90%, #f7f7f7 0) repeat center center;
	background-size: 20px 20px;
}
.stars {
	width: 2px;
	height: 2px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
}
.about-stars {
	box-shadow: multiple-box-shadow(1300, 'orange')
}
.blog-stars {
	box-shadow: multiple-box-shadow(1300, 'skyblue')
}
.home-stars {
	box-shadow: multiple-box-shadow(1300, 'orange')
}
.loading {
	width: 300px;
	height: 300px;
	margin: auto;
	border-radius: 10px;
	background: url(http://7xsn63.com2.z0.glb.clouddn.com/loading.svg) no-repeat center;
	background-color: #f3f1f1;
}

.markdown-body {
  h1 {
		font-size: 1.5em;
	}
	blockquote {
		margin-top: 1em;
	}
}

ul {
	padding: 0;
	list-style-type: none;
}
.app-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.app-header {
	font-size: 25px;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	flex-shrink: 0;
	height: 64px;
	line-height: 64px;
	z-index: 4;
	background-color: #00bcd4;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}
.home {
	flex-grow: 1;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.about,.account {
	flex-grow: 1;
}
