html {
	font-family: sans-serif;
	background-color: #fafafa;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	-webkit-font-smoothing:antialiased;
	color: #727272;
}
ul {
	padding: 0;
	list-style-type: none;
}
.app-wrap {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 100vh;
}
.app-header {
	font-size: 25px;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	flex-shrink: 0;
	height: 64px;
	line-height: 64px;
	z-index: 4;
	background-color: #00bcd4;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}
.home {
	flex-grow: 1;
	background-image: url('../assets/home-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@at-root {
		.slogon {
			text-align: center;
			font-weight: 500;
			color: #fff;
			font-size: 50px;
			width: 100%;
			padding: 100px 0;
			background-color: rgba(0, 0, 0, 0.5);
			text-transform: uppercase;
		}
	}
}

.app-footer {
	background-color: #00bcd4;
	padding: 30px 0;
	text-align: center;
	flex-shrink: 0;
	color: #fff;
	font-size: 25px;

}
.about,.account {
	flex-grow: 1;
}

pre {
}
